{% extends "base.html.twig" %}

{% block title %}A propos de nous{% endblock %}

{% block body %}
    

    <section class="aPP">
        <h2 class="title">Notre Histoire</h2>
        <p>Pagefy est né de ma passion pour la lecture et de mon désir de faciliter la vie des autres amoureux de la littérature.
        En tant qu'adepte des livres, j'ai toujours apprécié l'expérience de la lecture, mais je comprenais les défis auxquels les lecteurs étaient confrontés pour trouver de nouveaux titres.</p>
    </section>

    <section class="aPP">
        <p>Mon objectif est simple : créer un espace en ligne où les amateurs de lecture peuvent se réuni et découvrir de nouveaux titres de manière amusante et engageante. Pagefy est né de ma volonté de faciliter la vie des lecteurs du monde entier en rendant la découverte de nouveaux livres aussi excitante que la lecture elle-même.</p>
    </section>

    <section class="aPP">
        <p>Merci de faire partie de la communauté Pagefy.</p>
    </section>

{% endblock %}