{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité - Pagefy{% endblock %}

{% block body %}
    
        <h1 class="title">Politique de Confidentialité</h1>
    

    <section class="content-polit">
        <h2>Identité du propriétaire du site et du responsable de traitement des données</h2>
        <p>La société Pagefy, immatriculée en France sous le numéro Siren [XXXXXXX] et dont le siège social est situé [XXX XXXXXXX XXXXXXXXX XX] peut être contactée au [XX XX XX XX XX] ou par mail à l’adresse suivante [XXXXX@XXX.XX].</p>

        <h2>But de la collecte de données</h2>
        <p>Vos données personnelles sont collectées afin de permettre le fonctionnement de votre abonnement annuel ou mensuel qui permet la lecture de livres en ligne.</p>

        <h2>Destinataires des données</h2>
        <p>Les données recueillies sont réservées à l’usage exclusif de Pagefy.</p>

        <h2>Durée de conservation des données</h2>
        <p>Les données collectées sont conservées pendant [nombre d’années] ans.</p>

        <h2>Données collectées indirectement</h2>
        <p>Nous collectons les informations suivantes à l'aide de formulaires d'inscription : nom, prénom, email, mot de passe. Ces informations sont nécessaires pour le bon fonctionnement de votre abonnement et l'accès à la lecture de livres en ligne.</p>
    </section>
{% endblock %}
