{% extends 'base.html.twig' %}

{% block title %}Nouveau Chapitre{% endblock %}

{% block body %}
    <h1 class="title">Nouveau chapitre</h1>

<div class="div-form-style">
    {{ include('chapitre/_form.html.twig') }}
</div>

{% endblock %}


