{% extends "base.html.twig" %}

{% block title %}Abonnement non Réussi{% endblock %}

{% block body %}


<h1 class="title">Utilisateur non trouvé</h1>
<p class="text-center">L'utilisateur que vous recherchez n'a pas été trouvé.</p>


{% endblock %}