 
{% extends "base.html.twig" %}

{% block title %}Inscription avec success!{% endblock %}

{% block body %}
    <p>Merci de vous être inscrit sur notre site.</p>
    <p>Veuillez confirmer votre adresse e-mail envoyé sur votre boite mail</p>
{% endblock %}