
{% extends 'base.html.twig' %}

{% block title %}Erreur de Confirmation d'Adresse E-mail{% endblock %}

{% block body %}
    <h1 class="title">Erreur lors de la confirmation de l'adresse e-mail</h1>
    <p class="text-resetPass">Le lien de confirmation est invalide ou a expiré.</p>
    <p class="text-resetPass">Veuillez réessayer ou contactez le support.</p>
{% endblock %}
