{# templates/confirmation/success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Confirmation d'adresse e-mail{% endblock %}

{% block body %}

    <h2 class="title">Votre adresse e-mail a été confirmée avec succès</h2>
    <p class="text-resetPass">Maintenant vous pouvez accéder à votre compte.</p>
    <a class="btnb" href="{{path('app_login')}}">Connectez-vous</a>

{% endblock %}
