{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1 class="title">Nouvelle Categorie</h1>

    <a class="btnb" href="{{ path('app_categorie_index') }}">Revenir à la liste</a>

<div class="div-form-style">
    {{ include('categorie/_form.html.twig') }}
</div>

{% endblock %}
